# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Database
db.sqlite3
*.sqlite3
*.sqlite3-journal
*.sqlite3-wal

# Static / Media
*.log
.DS_Store
